<html>
    <head>
        <title>Quick UI</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        {% for i in form_fields %}
                            <div class="input-field col s3">
                                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>{{ i["parameter"] }}</a>
                            </div>
                            <div class="input-field col s9">
                                <input id="input_{{ loop.index - 1}}">
                                <label for="input_{{ loop.index - 1}}" id="label_{{ loop.index }}"></label>
                            </div>
                        {% endfor %}
                    </div>
                </form>>
            </div>
        </div>
    </body>

    <script>

        function fill_input_boxes() {
            fields = {{ form_fields|safe }};

            for (var i in fields) {
                var element = fields[i];
                var id = "#input_" + i.toString();

                // 1. Set the placeholder value if help exists.
                if ("help" in element) {
                    $(id).attr("placeholder", element["help"]);
                }

                // 2. Add the compulsory attributes. Jinja sends booleans as a string

                if ("required" in element) {
                    if (element["required"] == "True") {
                        $(id).prop("required", true);
                    }
                }
            }
        }
        fill_input_boxes();
    </script>
</html>