<html>
    <head>
        <title>Quick UI</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
        <script src="https://unpkg.com/jquery.terminal@1.x.x/js/jquery.terminal.min.js"></script>
        <link href="https://unpkg.com/jquery.terminal@1.x.x/css/jquery.terminal.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
            .terminal>div {
                min-height: 50%;
                max-height: 50%;
                overflow: auto;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <form id="submit-form" class="col s12">
                    <div class="row">
                        {% for i in form_fields %}
                            <div class="row" id="row_{{ loop.index-1 }}">
                                <div class="input-field col s3">
                                    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>{{ i["parameter"] }}</a>
                                </div>
                                <div class="field col s9">
                                    {%if (i["type"] == "bool") %}
                                    <label>
                                        <input id="input_{{ loop.index - 1}}">
                                        <span>Enable this</span>
                                    </label>
                                    {% else %}
                                        <input id="input_{{ loop.index - 1}}">
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="run_script">
                        <button id="btn-submit" class="btn btn-small waves-effect waves-light" type="submit" name="action">Submit and Run Script
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="row" id="terminals"></div>
            <div id="log"></div>
        </div>

    </body>

    <script>

        function add_placeholder(element, id) {
            if (!("help" in element))
                return;
            $(id).attr("placeholder", element["help"]);
        }

        function add_default(element, id) {
            if (!("default" in element))
                return;

            let default_value = element["default"];

            if ((element["type"] == "tuple") || (element["type"] == "dict") ||
                    (element["type"] == "list") || (element["type"] == "json"))

                default_value = JSON.stringify(default_value);

            if (element["type"] == "bool")
            {
                if (default_value == "True")
                {
                    default_value = true;
                    $(id).attr("checked", "checked");
                }
                else
                    default_value = false;
            }
            if (default_value)
                $(id).attr("value", default_value);
        }

        function add_required_check(element, id) {
            if (!("required" in element))
                return;

            if (!(element["required"] == "True"))
                return;

            $(id).prop("required", true);
        }

        function cleanup_divs(id) {
            var parent_id = $(id).parent().parent().attr("id");
            $(id).parent().remove();
            return parent_id;
        }

        function add_data_type(element, id) {
            if (!("type" in element))
                return;

            if (element["type"] == "str")
                $(id).attr("type", "text");

            if (element["type"] == "int") {
                $(id).attr("type", "number");
                $(id).attr("step", "1");
            }

            if (element["type"] == "float") {
                $(id).attr("type", "number");
            }

            if (element["type"] == "bool") {
                $(id).attr("type", "checkbox");
            }

        }

        function fill_input_boxes() {
            fields = {{ form_fields|safe }};

            for (var i in fields) {
                var element = fields[i];
                var id = "#input_" + i.toString();
                $(id).attr("name", element["parameter"]);

                // 1. Set the placeholder value if default value exists.
                add_placeholder(element, id);

                // 2. Set the default if it exists
                add_default(element, id);

                // 3. Add the required attribute. Jinja sends booleans as a string
                add_required_check(element, id);

                // 4. Add a data type
                add_data_type(element, id);
            }
        }

        const submitBtn = $('#btn-submit');
        const submitForm = $('#submit-form');
        const input0 = $('#input_0');

        $('#submit-form').submit(function(e) {
            e.preventDefault();
            // get all the inputs into an array.
            var $inputs = $('#submit-form :input');

            // get an associative array of just the values.

            var values = {};

            $inputs.each(function() {
                if (this.type == "checkbox")
                    values[this.name] = $(this).prop("checked");
                else if (this.type == "number")
                    values[this.name] = parseFloat($(this).val());
                else
                    values[this.name] = String($(this).val());
            });

            run_step(values);
        });

        function getRandomInt(min, max) {
          min = Math.ceil(min);
          max = Math.floor(max);
          return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
        }

        function run_step(values)
        {

            // 1. Create a new terminal object
            var term_id = "terminal_" + String(getRandomInt(0, 1000));
            $('#terminals').prepend("<div id='" + term_id + "'> </div><br>");

            var term = $('#' + term_id).terminal({
                python: function(...args) {
                    var options = $.terminal.parse_options(args);
                    console.log(options);
                }
            }, {checkArity: false});

            // 2. Clear the terminal
            term.exec("clear");

            // 3. Add term_id to the values field
            values["term_id"] = term_id;

            // 3. Call the run script function
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            console.log("Established a connection");

            socket.emit("run_script", {data: values});
            socket.on("process_output", function(msg) {
                term.echo(msg.data);
            });
        }
        fill_input_boxes();
    </script>
</html>